<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="container">
        <h1>Updates</h1>
        <img src="{{ banner_img_url }}", id="banner" height="320">
        <h2>About Updates</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor vero similique repellendus ipsum dolorum
            necessitatibus molestias beatae! Corporis provident modi illo sequi consequatur eos quisquam maxime perferendis quis
            repellendus, ullam repellat beatae praesentium qui sed fuga. Recusandae dolores perferendis ipsa fuga odit dicta
            optio quos maxime harum, voluptatibus, alias veritatis.
        </p>
        <h2>Open Positions</h2>
        {% for job in jobs %}
        <p><div>{{ job['title'] }}<div/></p>
            <div>location: {{job['location']}} <div/>
            {% endfor %}
    <button>Contact Us</button>
<div/>


</body>
</html>